################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AppBarMenu/AppBarMenu/bin/Debug
/AppBarMenu/Entities/obj/Debug
/AppBarMenu/AppBarMenu/obj/Debug
/AppBarMenu/AppBarMenu/AppBarMenu.csproj.user
/AppBarMenu/.vs/AppBarMenu/v16/.suo
/AppBarMenu/AppBarMenu/bin/x64/Release
/AppBarMenu/AppBarMenu/obj/Release
/AppBarMenu/AppBarMenu/obj/x64
/AppBarMenu/AppBarMenu/obj/x86/Release/TempPE
/AppBarMenu/AppBarMenu/obj/x86/Release
/AppBarMenu/.vs/AppBarMenu/DesignTimeBuild
/AppBarMenu/RegistryManager/bin/Debug
/AppBarMenu/RegistryManager/bin/Release
/AppBarMenu/RegistryManager/obj
/AppBarMenu/InsertItem/bin
/AppBarMenu/InsertItem/obj/Debug/netcoreapp3.1
/AppBarMenu/InsertItem/obj/Release/netcoreapp3.1
/AppBarMenu/InsertItem/obj
/AppBarMenu/AppBarMenu/bin/Release
/AppBarMenu/Testador
/AppBarMenu/AppBarMenu/bin/x64/Debug
/AppBarMenu/Configurator/bin
/AppBarMenu/Configurator/obj
